.header {
  background: $light-grey;
  padding: 8px 20px;
  box-shadow: 0 2px 16px rgba(32, 108, 164, 0.16);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    img {
      width: 115px;
    }
  }

  &-nav {
    display: flex;
    align-items: center;

    @include _1024 {
      position: absolute;
      background: pink;
      top: 0;
      left: -200px;
      width: 200px;
      height: 100vh;
      z-index: 1;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }

    &_mobile {
      left: 0;
    }
  }

  &-btn {
    @include _1024 {
      margin-top: 10px;
    }
  }

  &-mobile-btn {
    width: 30px;
    display: none;

    @include _1024 {
      display: block;
    }
  }
}


.nav {

  &-list {
    display: flex;
    align-items: center;

    @include _1024 {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-item {
    @include _1024 {
      padding: 10px;
    }

    &_search {
      margin-right: 20px;
    }
  }

  &-link {
    font-size: $nav-font-size;
    color: $dark;
    margin: 0 8px;

    @include _1024 {
      margin: 0;
    }

    &_img {
      display: flex;
      align-items: center;
      font-family: $font-bold;

      img {
        margin-right: 5px;
      }
    }

    &:hover {
      color: $green;
    }
  }
}
