.promo {
  display: flex;
  padding-bottom: 135px;

  @include _1024 {
    flex-direction: column;
  }

  @include _480 {
    padding-bottom: 10px;
  }

  &-vertical_center {
    align-items: center;

    .promo-text {
      padding: 0 20px;
    }
  }

  &-text {
    flex: 0 0 50%;

    @include _1440 {
      padding: 0 40px;
    }

    @include _767 {
      padding: 0 10px;
    }

    &_bottom {
      margin: 35px 0 0;
      max-width: 480px;
    }
  }

  &-img {
    flex: 0 0 50%;
    position: relative;

    @include _1280-1025 {
      margin: auto;
    }

    @include _1024-768 {
      margin-right: auto;
      margin-bottom: 30px;
    }

    &_background {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('./images/promo/bg.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 35% 0;
      padding: 40px 0;

      @include _1024-768 {
        margin: auto;
      }
    }

    &_tablet {
      @include _1024 {
        display: none;
      }
    }
  }

  &-list {
    margin: 70px auto 0;
    max-width: 300px;

    @include _1024 {
      max-width: 100%;
    }
  }

  &-order {
    @include _1024 {
      &_first {
        order: 0;
      }

      &_last {
        order: 1;
      }
    }
  }
}

.card {
  width: 380px;
  background: #FFFFFF;
  box-shadow: 0 2px 16px rgba(32, 108, 164, 0.16);
  border-radius: 8px;
  padding: 28px 28px 38px;

  @include _767 {
    width: 100%;
  }

  &.card-absolute {
    position: absolute;
    bottom: -115px;
    right: 38px;

    @include _767 {
      width: 300px;
      position: relative;
      bottom: initial;
      right: initial;
      transform: translateY(-25%);
      margin: auto;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    color: $blue;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  &-text {

  }
}

.list-dotted {
  &_item {
    position: relative;
    padding-left: 30px;
    color: $grey;
    line-height: 27px;
    margin-bottom: 20px;

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      background: $blue;
      border-radius: 50%;
      top: 10px;
      left: 0;
    }
  }
}
