.slider {
  text-align: center;
  margin-bottom: 200px;
  position: relative;

  @include _1024-768 {
    margin-left: -40px;
    margin-right: -40px;
  }

  @include _767 {
    margin-bottom: 80px;
  }

  .glide__bullets {
    bottom: -90px;
  }

  .glide__slide {
    min-width: 380px;
    margin: 0 10px;
  }

  .glide__bullet {
    width: 15px;
    height: 15px;
    background: $opacity-blue;
    box-shadow: none;
    margin: 0 7px;

    &--active {
      background: $light-blue;
    }
  }

  &-wrapper {
    margin-bottom: 20px;
  }

  &-link {
    font-family: $font-epilogue-bold;
    color: $green;
    border-bottom: 2px dotted $green;
    padding-bottom: 10px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 500px;
    margin: 10px;
    padding: 40px 30px 30px;
    box-shadow: 0 2px 16px rgba(32, 108, 164, 0.16);
    border-radius: 8px;
    position: relative;

    @include _1280 {
      margin: 10px auto;
    }

    @include _767 {
      width: 100%;
    }

    &_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }

    &_quote {
      width: 38px;
      height: 33px;
    }

    &_rating {
      font-size: $p-font-size;
      color: $grey;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &_star {
      display: block;
      width: 23px;
      height: 22px;
      margin-left: 5px;

      &:first-child {
        margin-left: 10px;
      }
    }

    &_text {
      font-size: $p-font-size;
      font-style: italic;
      font-family: $font-body;
      color: $grey;
      line-height: 25px;
    }

    &_id {
      display: flex;
      color: $grey;
      margin: auto 0 10px;
    }

    &_user {
      width: 24px;
      margin-right: 10px;
    }

    &_info {
      font-family: $font-body;
      color: $grey;
      text-align: left;
    }
  }
}
