html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
}

* {
  transition: all 200ms ease;
}

*:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

p {
  margin: 0;
  padding-bottom: 20px;
  color: $grey;
}

a {
  text-decoration: none;
  color: $light-blue;
}

img {
  display: block;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  padding: 6px 24px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px;

  &-middle {
    height: 53px;
    font-size: $btn-font-size;
  }

  &-small {
    height: 35px;
    font-size: $btn-small-font-size;
  }

  &-green {
    background: $green;
    color: $white;
    border: 2px solid $green;

    &:hover {
      box-shadow: 0 5px 10px rgba(76, 174, 80, 0.3);
    }
  }

  &-grey {
    background: $white;
    color: $grey;
    border: 2px solid $grey;

    &:hover {
      color: $green;
      border-color: $green;
    }
  }

  &-full {
    @include _767 {
      width: 100%;
      margin: 0 0 30px;
      justify-content: center;
    }
  }

  &-hide {
    @include _767 {
      display: none;
    }
  }
}

.main {
  padding: 120px 20px 50px;

  @include _1024-768 {
    padding: 85px 40px 80px;
  }

  @include _767 {
    padding: 50px 10px 40px;
  }
}

.list-line {
  @include _1024 {
    display: flex;
    overflow: hidden;
  }

  &_link {
    padding-left: 50px;
    font-size: $h3-4-font-size;
    font-family: $font-epilogue;
    line-height: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 23px;
    margin-bottom: 30px;
    color: $grey;

    @include _1024 {
      padding-left: 0;
      margin-right: 20px;
      white-space: nowrap;
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 20px;
      height: 1px;
      background: $grey;
      left: 0;
      top: 50%;
      transform: translateY(-50%);

      @include _1024 {
        display: none;
      }
    }

    &:hover {
      font-family: $font-epilogue-bold;
      color: $green;

      &:before {
        width: 40px;
        background: $green;
      }
    }
  }
}
