$white: #fff;
$black: #000000;
$light-grey: #F9FAFC;
$dark-grey: #3A3A3A;
$grey: #63718E;
$light-blue: #286DBD;
$blue: #111563;
$green: #4CAE50;
$dark: #423D59;
$black-light: #1C1E1F;
$medium-gray: #7E8183;
$border-color: #F0F4FD;

$opacity-green: #E5FFF0;
$opacity-blue: #E8F8FF;
$opacity-gray: #BAD9E7;
